In [1]:
1+1

2

In [2]:
a=10.0
a

10.0

In [3]:
type(a)

float

In [4]:
b = 4+5j

In [5]:
type(b)

complex

In [6]:
subh = True

In [7]:
type(subh)

bool

In [8]:
b.imag

5.0

In [9]:
strgh = "ritesh"

In [10]:
strgh.casefold

In [11]:
# this is bool add. True = 1, False = 0
True + True

2

In [12]:
"""" this is bool add. True = 1, False = 0
hi
"""
True + True

2

In [13]:
s = "my name is ritesh"

In [14]:
id(s)

82695152

In [15]:
s[0]

'm'

In [16]:
s[0:2:]

'my'

In [17]:
r = "ineuron"
r[0:7:2]

'iern'

In [18]:
range(10)

range(0, 10)

In [19]:
list(range(10))  # always exclude upper bound

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [22]:
list(range(10,3))                    # consider step size of +1

[]

In [23]:
import numpy as np

In [24]:
 a = list(np.arange(1,3.5,.5))

In [25]:
a[1]

1.5

In [26]:
for x in a:
    print(x)

1.0
1.5
2.0
2.5
3.0

In [27]:
for x in a:
    print(a)

[1.0, 1.5, 2.0, 2.5, 3.0]
[1.0, 1.5, 2.0, 2.5, 3.0]
[1.0, 1.5, 2.0, 2.5, 3.0]
[1.0, 1.5, 2.0, 2.5, 3.0]
[1.0, 1.5, 2.0, 2.5, 3.0]

In [28]:
list(range(10,3,-5))

[10, 5]

In [29]:
l = [3,4,5,6,7,8,23,4,5,5]
nl = []
for x in l:
    
         nl.append(x+2)

In [30]:
nl

[5, 6, 7, 8, 9, 10, 25, 6, 7, 7]

In [31]:
l = [3,4,5,6,7,8,23,4,5,5]
for i in range(len(l)):
    print(l[i])

3
4
5
6
7
8
23
4
5
5

In [32]:
l = [3,4,5,6,7,8,23,4,5,5]
nl=[]
for x in range(len(l)):
    nl.append(l[x]+2)

In [33]:
nl

[5, 6, 7, 8, 9, 10, 25, 6, 7, 7]

In [36]:
l = [3,4,5,6,7,8,23,4,5,5]
nl=[]
for x in l:
    if x>=10:
        nl.append(x+2)

In [38]:
nl

[25]

In [39]:
x

5

In [40]:
l = [3,4,5,6,7,8,23,4,5,5,'ritesh','ranjan','singh']
nl=[]
for x in l:
    if type(x)== str:
        nl.append(x)

In [41]:
nl

['ritesh', 'ranjan', 'singh']

In [43]:
z= [3,4,5,6,7,23,4,56,77]
for x in z:
    print(x)                           # if for not excecuted completly than else will not excecute
else:
    print('exhausted')

3
4
5
6
7
23
4
56
77
exhausted

WHILE statement

In [45]:
d=10
s=0
i=1
while i<=d:
    s+=i
    i+=1
    
print(s)

55

In [48]:
d=10
s=0
i=1
while i<=d:
    s+=i
    i+=1
    print(s,i)
    
print(s)

1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9
45 10
55 11
55

In [50]:
for x in 'ritesh':
    print(x)

r
i
t
e
s
h

In [51]:
a=10

In [53]:
for x in "sudh":
    if x=="d":
       break
    print(x)

s
u

In [54]:
for x in "sudh":
    if x=="d":
       break
    print(x)
else:
    print("complete iteration")
print("out of loop")

s
u
out of loop

In [56]:
for x in "sudh":
    if x=="z":             #note this line
       break
    print(x)
else:
    print("complete iteration")
print("out of loop")

s
u
d
h
complete iteration
out of loop

CONTINUE STATEMENT

In [59]:
for i in "sudh":
    if i == "d":
        continue
    print(i)

s
u
h

In [60]:
input()

ritesh

'ritesh'

In [62]:
input()              # always return str

10

'10'

In [63]:
type(input())

32

str

above function shows that input function always return string typedata type

In [64]:
a = input()
b= int(a)

23

In [65]:
b            #

23

In [66]:
a

'23'

In [67]:
a= "1123455"
b = int(a)

In [68]:
b

1123455

In [73]:
a = "ritesh"
x = int(a)

ValueError: invalid literal for int() with base 10: 'ritesh'

In [74]:
x

'h'

In [77]:
a = input()
b =int(a)
l = [1,2,3,4,5,6,7,5,5,5,6,7,8,9,9]
m=[]

for i in l:
    if i==b:
        m.append(i)
    
m

5

[5, 5, 5, 5]

In [78]:
"ritesh" +"ranjan"

'riteshranjan'

In [79]:
[1,2,3,4] + ["tirsh"]

[1, 2, 3, 4, 'tirsh']